[submodule "powerline-shell"]
	path = powerline-shell
	url = git@github.com:milkbikis/powerline-shell.git
[submodule "promptastic"]
	path = promptastic
	url = https://github.com/nimiq/promptastic.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = git@github.com:motemen/git-vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git@github.com:powerline/powerline.git
[submodule ".vim/bundle/vim-codeschool"]
	path = .vim/bundle/vim-codeschool
	url = git@github.com:blockloop/vim-codeschool.git
[submodule ".vim/bundle/vim-cursorword"]
	path = .vim/bundle/vim-cursorword
	url = git@github.com:itchyny/vim-cursorword.git
