[submodule "powerline-shell"]
	path = powerline-shell
	url = git@github.com:milkbikis/powerline-shell.git
[submodule "promptastic"]
	path = promptastic
	url = https://github.com/nimiq/promptastic.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = git@github.com:sjl/badwolf.git
